llama-cpp-python --extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cu121
torch
transformers
accelerate
mistral-common
protobuf
docling
chardet
sentence-transformers
chromadb
bitsandbytes
ddgs
serpapi